@import '../../sass/mixins';

.menu-user {
    display: flex;
    align-items: center;
    gap: 3rem;

    @include respond(tab-port) {
        display: none;
    }

    &--adaptive {
        display: none;

        &__divider {
            display: flex;
            width: 1px;
            height: 100%;
            align-items: center;
        }

        @include respond(tab-port) {
            display: flex;
        }

        @include respond(mobile) {
            &__item:not(:last-child) {
                display: none;
            }
        }
    }

    &__notification {
        position: relative;
        margin-left: 3rem;

        @include respond(tab-port) {
            margin-left: 0;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        cursor: pointer;

        span {
            white-space: nowrap;
        }

        &__icon {
            display: flex;
            margin-left: 3rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__item {
            padding: 1.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--primary-light-default);
            }
        }
    }
}
