.menu-user {
    display: flex;
    align-items: center;
    gap: 3rem;

    &__notification {
        position: relative;
        margin-left: 3rem;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        cursor: pointer;

        span {
            white-space: nowrap;
        }

        &__icon {
            display: flex;
            margin-left: 3rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__item {
            padding: 1.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--primary-light-default);
            }
        }
    }
}
