.menu-user {
    display: flex;
    align-items: center;
    gap: 3rem;

    &__notification {
        position: relative;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 1rem;

        small {
            background-color: olivedrab;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
        }

        span {
            white-space: nowrap;
        }
    }

    &__settings {
        display: flex;
        margin-left: 3rem;
        cursor: pointer;
    }
}
