@import '../../sass/mixins';

.menu-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--menu-width);
    background-color: var(--background-card-primary);
    border-radius: 0 2rem 2rem 0;
    padding-bottom: 1.5rem;

    @include respond(tab-port) {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: var(--menu-item-width);
        gap: 1rem;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 1.25rem;
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: var(--background-card-primary);
        text-decoration: none;
        cursor: pointer;

        &__img {
            svg {
                transform: scale(130%);
                color: var(--primary-default);
            }
        }

        &--active {
            background-color: var(--status-blue-surface);
        }

        &__label {
            font-size: var(--font-size-default);
            color: var(--text-primary);
        }

        &:hover {
            background-color: var(--background-page-primary);
        }
    }
}
