.menu-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--menu-width);
  background-color: var(--background-card-primary);
  border-radius: 0 2rem 2rem 0;

  &__group {
    display: flex;
    flex-direction: column;
    width: var(--menu-item-width);
    gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.25rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--background-card-primary);
    text-decoration: none;
    cursor: pointer;

    &__img {
      svg {
        transform: scale(130%);
        color: var(--primary-default);
      }
    }

    &--active {
      background-color: var(--status-blue-surface);
    }

    &:hover {
      background-color: var(--background-page-primary);
    }
  }

  &__burger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 100;

    &-line {
      width: 100%;
      height: 2px;
      background-color: var(--primary-default);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    &--open {
      .menu-navigation__burger-line:nth-child(1) {
        transform: rotate(45deg) translate(0.3rem, 0.45rem);
      }
    
      .menu-navigation__burger-line:nth-child(2) {
        opacity: 0;
      }
    
      .menu-navigation__burger-line:nth-child(3) {
        transform: rotate(-45deg) translate(0.3rem, -0.45rem);
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--menu-width);
    background-color: var(--background-card-primary);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    overflow-y: auto;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  &__menu--open {
    transform: translateX(0);
  }

  &__burger-line {
    background-color: var(--primary-default);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
  }

  @media (min-width: 768px) {
    &__menu {
      position: static;
      transform: none;
      width: auto;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
 