.services-cards {
  margin: 0 0 4.8rem;

    &__content {
        background: var(--background-card-primary);
        border-radius: 1rem;
        display: flex;
        padding: 1.6rem;
        align-items: center;
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 3rem;
    }

    &__wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.4rem;
    }

    &__icon {
        margin: 0 1.2rem 0 0;
        padding: 1rem;
        background: var(--background-page-primary);
        border-radius: 1rem;
        display: flex;
    }

    &__name {
        font-size: var(--font-size-normal);
    }

    &__link {
      font-weight: bold;
    }
}

svg {
    display: block;
}
