@import '../../sass/mixins';

.card-services {
    &__grid {
        @include respond(mobile) {
            display: none;
        }

        &__item {
            background: var(--background-card-primary);
            border-radius: 1rem;
            display: flex;
            padding: 1.6rem;
            align-items: center;
        }
    }

    &__slider {
        display: none;

        @include respond(mobile) {
            display: flex;
            width: calc(100% + var(--wrapper-padding-x));
        }

        &__item {
            background: var(--background-card-primary);
            border-radius: 1rem;
            display: flex;
            padding: 1.6rem;
            align-items: center;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__title {
        font-size: var(--font-size-large);
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
    }

    &__icon {
        margin: 0 1.2rem 0 0;
        padding: 1rem;
        background: var(--background-page-primary);
        border-radius: 1rem;
        display: flex;
    }

    &__name {
        font-size: var(--font-size-normal);
    }

    &__link {
        font-weight: bold;
    }

    svg {
        display: block;
    }
}
