.auth {
    background-color: var(--background-page-primary);
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;
    align-items: center;

    &__error {
        align-self: center;
        font-size: var(--font-size-small);
        color: var(--status-red-danger);
        margin-bottom: 0.75rem;
        margin-top: -1rem;
    }
}
