.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
    width: 100%;

    &--large {
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }

    &--half {
        grid-template-columns: 1fr 1fr;
    }

    &--inline {
        grid-template-columns: 1fr;
    }

    &--small {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
}
