.slider-ads-img {
  background: #fff;
  padding: 1.6rem;
  border-radius: 1rem;

  &__title {
    font-size: 20px;
    padding: 0 0 1.6rem;
    border-bottom: 1px solid #D6D8DD;
    margin: 0 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slide {
    margin: 0 0 1.6rem;
  }

  &__desc {
    font-weight: bold;
    margin: 0;
  }

  &__img {
    width: 100%;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__current {
    margin: 0 0 0 1.6rem;
  }

  &__total {
    margin: 0 1.6rem 0 0;
  }

  &__prev, &__next {
    cursor: pointer;
  }
}