@import '../../sass/mixins';

.slider-ads-img {
    display: flex;
    height: 100%;
    padding: 1.6rem;
    background: var(--background-card-primary);

    @include respond(mobile) {
        margin-bottom: 1rem;
    }

    &__slide {
        @include respond(mobile) {
            display: flex;
            gap: 2rem;
        }
    }

    &__img {
        border-radius: 1rem;
        width: 100%;
        display: block;
        object-fit: cover;

        @include respond(tab-port) {
            aspect-ratio: 16 / 4.8;
        }

        @include respond(mobile) {
            aspect-ratio: unset;
            width: 25%;
            height: 100%;
        }
    }

    &__text {
        font-weight: bold;
        margin-bottom: 0.5rem;

        @include respond(mobile) {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
