@import '../../sass/mixins';

.slider-ads-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 1.6rem;
    border-radius: 1rem;

    &__title {
        font-size: 20px;
        padding: 0 0 1.6rem;
        border-bottom: 1px solid #d6d8dd;
        margin: 0 0 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__slider {
        width: 100%;
    }

    &__slide {
        margin: 0 0 1.6rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__desc {
        font-weight: bold;
        margin: 0;
    }

    &__img {
        width: 100%;
    }

    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }

    &__current {
        margin: 0 0 0 1.6rem;
    }

    &__total {
        margin: 0 1.6rem 0 0;
    }

    &__prev,
    &__next {
        cursor: pointer;
    }
}
