.card-info-link {
  display: flex;
  align-items: center;
  background: linear-gradient(120deg, #FFFFFF 60%, #6FA3FF 100%);
  padding: 1.6rem;
  border-radius: 1rem;
  margin: 0 0 2.4rem;

  &__img {
    margin: 0 1.6rem 0 0;
  }

  &__desc {
    font-weight: bold;
  }

  &__title {
    color: #74777F;
  }

  &__subtitle {
    margin: 0 0 1.2rem;
  } 

  &__link {
    font-size: 1.3rem;
  }
}