.card-info {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1.6rem;
  border-radius: 1rem;
  margin: 0 0 2.4rem;

  &__img {
    margin: 0 1.6rem 0 0;
  }

  &__text {
    font-weight: bold;
  }
}