.info {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: var(--static-white);

    &__top {
        display: flex;
        align-items: center;
        margin: 0 0 3.4rem;
    }

    &__left {
        margin: 0 10rem 0 0;
        padding: 0.6rem;
        background: var(--static-white);
        border-radius: 2.5rem;
    }

    &__img {
        border-radius: 2.5rem;
        object-fit: contain;
        width: 100%;
        display: block;
    }

    &__bottom {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    &__subtitle-bottom {
        color: var(--static-black);
        font-size: var(--font-size-medium);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__desc-left {
        color: var(--text-secondary);
    }

    &__desc-right {
        color: var(--static-black);
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
