.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.4rem;

    img {
        display: block;
    }

    h3 {
        font-size: var(--font-size-default);
        font-weight: 800;
        margin-bottom: 1rem;
    }

    span {
        color: var(--text-secondary);
        font-size: var(--font-size-small);
    }
}
