.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        display: block;
        padding: 2.4rem;
    }

    h3 {
        font-size: var(--font-size-default);
        font-weight: 800;
        margin-bottom: 1rem;
    }

    span {
        color: var(--text-secondary);
        font-size: var(--font-size-small);
    }
}
