@import '../../sass/mixins';

.home {
    display: grid;
    width: 100%;
    grid-template-columns: 70% 28%;
    grid-column-gap: 2%;
    grid-row-gap: 4rem;

    @include respond(tab-land) {
        grid-template-columns: 65% 33%;
    }

    @include respond(tab-port) {
        grid-row-gap: 3rem;
        grid-template-columns: 100%;
    }

    &__left {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        grid-row-gap: 4rem;

        @include respond(tab-port) {
            grid-row-gap: 3rem;
        }
    }

    &__right {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        grid-row-gap: 2rem;
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            display: none;
        }

        @include respond(mobile) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            grid-row-gap: 2rem;
            display: flex;
        }

        &--tablet {
            display: none;

            @include respond(tab-port) {
                width: calc(100% + var(--wrapper-padding-x));
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                grid-row-gap: 2rem;
                display: flex;
                flex-direction: column;
            }

            @include respond(mobile) {
                display: none;
            }
        }

        &__slide {
            display: flex;
            height: 100%;
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__slider-tablet {
        display: flex;
        flex-direction: column;
    }

    &__ads {
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem;

        @include respond(tab-port) {
            gap: 0;
            grid-template-columns: 48.5% 48.5%;
            grid-column-gap: 3%;
        }

        @include respond(mobile) {
            grid-template-columns: 100%;
            gap: 2rem;
        }
    }
}
