@import '../../sass/mixins';

.home {
    display: grid;
    width: 100%;
    grid-template-columns: 70% 28%;
    grid-column-gap: 2%;
    grid-row-gap: 4rem;

    @include respond(tab-land) {
        grid-template-columns: 65% 33%;
    }

    @include respond(tab-port) {
        grid-row-gap: 3rem;
        grid-template-columns: 100%;
    }

    &__left {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        grid-row-gap: 4rem;

        @include respond(tab-port) {
            grid-row-gap: 3rem;
        }
    }

    &__right {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        grid-row-gap: 2rem;

        @include respond(tab-port) {
            grid-row-gap: 4rem;
            grid-row: 2 / 3;
            grid-column: 1 / -1;
        }
    }

    &__card {
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: bold;
            font-size: var(--font-size-default);

            &--center {
                justify-content: center;
            }

            h3 {
                font-size: inherit;

                span {
                    color: #74777f;
                }
            }

            a {
                font-size: var(--font-size-smallest);
            }
        }

        &__img {
            display: flex;
            align-items: center;

            img {
                display: block;
                object-fit: cover;
            }
        }

        &--gradient {
            background: linear-gradient(120deg, #ffffff 70%, #6fa3ff 120%);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem;

        @include respond(tab-port) {
            gap: 0;
            grid-template-columns: 48.5% 48.5%;
            grid-column-gap: 3%;
        }
    }

    &__ads {
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem;

        @include respond(tab-port) {
            gap: 0;
            grid-template-columns: 48.5% 48.5%;
            grid-column-gap: 3%;
        }
    }
}
