.swiper-video {
    display: none;
    
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: var(--static-black);
        overflow: hidden;
        padding: 5rem 5rem 1rem;
        height: 100vh;
    }

    &__slide {
        display: flex;
        justify-content: center;
    }

    &__title {
        color: var(--static-white);
        text-align: center;
        margin: 2.4rem 0 5.6rem;
    }

    &__thumbs {
        padding: 0 5rem;
        .swiper-wrapper {
            width: fit-content;
        }
    }

    &__slide-thumbs {
        opacity: 0.6;
        transition: 0.2s ease-out;
        margin: 0 .1rem 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        max-width: 100rem;
    }

    &__img-wrap {
      border-radius: 0.3rem;
      display: flex;
      justify-content: center;
      overflow: hidden;
  }

    &__img-thumbs {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 0.3rem;
      object-fit: cover;
      display: block;
      transform: scale(1.5);
    }
}

.swiper-slide-thumb-active {
    opacity: 1;
    margin: 0 .5rem 0 .5rem;
    transition: 0.6s ease-in;

    .swiper-video__img-thumbs {
      // width: 100%;
      transform: scale(1);
      transition: 0.6s ease-in;
      border-radius: 0.3rem;
    }

    .swiper-video__img-wrap {
      overflow: visible;
      transition: 0.6s ease-in;
    }
}
