.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 2rem;
    gap: 0.3rem;

    span {
        font-size: var(--font-size-small);
        color: var(--text-secondary);
    }
}
