.error-404 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row: 2 / 3;
        gap: 2rem;

        img {
            margin-bottom: 2rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
