@import '../../sass/mixins';

.page-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-page-primary);

    &__content {
        display: flex;
        flex-direction: column;
        width: calc(100% - var(--menu-width));
        padding: 2rem 4rem;
        gap: 4rem;
        background-color: var(--background-page-primary);

        @include respond(tab-port) {
            width: 100%;
            padding: 4rem 3rem;
        }
    }

    &__head {
        display: flex;

        h2 {
            font-size: 3.4rem;
            white-space: nowrap;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        padding: 0.5rem 1.25rem;
        border-radius: 0.75rem;
        border: 1px solid var(--background-secondary);
        background-color: var(--background-card-primary);

        @include respond(tab-land) {
            display: none;
        }

        &__icon {
            font-size: 4rem;
            color: var(--text-secondary);
        }

        input {
            padding: 0 1rem;
            border: none;
            outline: none;
            font-size: var(--font-size-default);
            background-color: var(--background-card-primary);
            color: var(--text-primary);
            width: 100%;

            &::placeholder {
                color: var(--text-secondary);
            }
        }

        select {
            border: none;
            outline: none;
            padding: 0 1rem;
            font-size: inherit;
        }
    }
}
