@import '../../sass/mixins';

.slider-ads {
    display: flex;
    height: 100%;
    padding: 1.6rem;
    background: var(--background-card-primary);

    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
    }

    &__text {
        font-size: var(--font-size-small);
        font-weight: bold;
        width: 80%;
    }

    &__date {
        font-size: var(--font-size-small);
        color: var(--text-secondary);
    }
}
