@import '../../sass/mixins';

.slider-ads {
    padding: 1.6rem;

    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
    }

    &__text {
        font-size: var(--font-size-small);
        font-weight: bold;
        width: 80%;
    }

    &__date {
        font-size: var(--font-size-small);
        color: var(--text-secondary);
    }
}
