.card-news {
  background: transparent;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3rem;
  }

  &__img {
    width: 100%;
    margin: 0 0 2.4rem;
  }

  &__title {
    margin: 0 0 .8rem;
    color: var(--text-primary);
    font-size: var(--font-size-medium);
  }

  &__desc {
    margin: 0 0 4.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }

  &-active {
    overflow: visible;
    white-space: normal;
  }

  &__more {
    padding: 4rem 0 0;
    text-align: center;
  }

  &__link {
    font-weight: bold;
  }

  &__more {
    font-weight: bold;
  }
}