@import '../../sass/mixins';

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 1.6rem;
    border-radius: 1rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--font-size-medium);
        padding-bottom: 1.6rem;
        border-bottom: 1px solid #d6d8dd;
        margin-bottom: 1.6rem;
    }

    &__swiper {
        width: 100%;
    }

    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }

    &__current {
        margin: 0 0 0 1.6rem;
    }

    &__total {
        margin: 0 1.6rem 0 0;
    }

    &__prev,
    &__next {
        cursor: pointer;
    }
}
