.slider {
    background: var(--background-card-primary);
    border-radius: 1rem;
    position: relative;
    margin: 0 0 4.8rem;
    overflow: hidden;

    &__content {
        display: grid;
        grid-template-columns: 39fr 61fr;
    }

    &__left {
        padding: 1.6rem;
    }

    &__right {
        aspect-ratio: 16 / 9;
    }

    &__img {
        border-radius: 1rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__desc {
        background: var(--background-secondary);
        color: var(--text-secondary);
        padding: 0.55rem 0.8rem;
        border-radius: 0.5rem;
        width: fit-content;
        font-size: var(--font-size-small);
        margin: 0 0 1.9rem;
    }

    &__title {
        font-size: var(--font-size-large);
    }

    &__counter {
        display: flex;
        align-items: center;
        position: absolute;
        left: 1.6rem;
        right: 0;
        bottom: 1.6rem;
        z-index: 10;
    }

    &__prev,
    &__next {
        width: 4.8rem;
        height: 4.8rem;
        background: #e5e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }

    &__current {
        margin: 0 0 0 1.6rem;
    }

    &__total {
        margin: 0 1.6rem 0 0;
    }
}
